@charset "utf-8";
*  {
	margin: 0;
	padding: 0;
	outline: none;
}

header {
    width: 100%; 
    background-color: #fff;
} 

header {
	width: 67%;
	margin-top: -10px;
	margin-left: 14.5%;
	margin-right: 16.5%; 
	background: black;
	padding: 1%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

html {height: 100%}

body {
	width: 100%;
	height: 100%;
	color: #333;
	background: #f7f7f7;
	font-size: 1em;
	font-family: "Segoe UI", sans-serif;
	line-height: 100%;
}

a {
	color: #FFFFFF;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
}

a:hover {
	color: #62EDC7;
	text-decoration: none;
	transition: all.6s ease;
	-moz-transition: all.6s ease;
}

a:active{
	color: blue;
}
::selection {background: #62EDC7; color: #62EDC7}
::-moz-selection {background: #E4BFBF; color: #FFFCFC}

img {
	max-width: 100%;
	height: auto;
	width auto\9;
}

hr {
	display: block;
	border: 0;
	height: 1px;
	border-top: 1px solid #ccc;
	padding: 0;
}

.head {
	height: 35px;
	background: black;
	padding: 1%;
}

.body {
	margin-top: 20px;
	margin-left: 14.5%;
	margin-right: 15.5%;
	height: 35px;
	background: #f7f7f7;
	padding: 1%;
}

.right {
	float: right 
}

.left {
	float: left 
}

.clear {
	clear: both 
}

#logo { 
	margin-left:1%;
	font-size: 100%;
}

.head_menu {
	margin-left: 3px;
	font-size: 100%;
	font-family: Comic Sans MS, sans-serif;
	padding: 13px; 
}

.head_menu_right {
	font-size: 80%;
	font-family: Comic Sans MS, sans-serif; 
	padding: 12px;
}

.head_menu_right_icon{
	font-size: 110%;
	font-family: Comic Sans MS, sans-serif;
	padding: 2px; 
}

.head_menu_right_icon_search {
	padding: 13px;
}

.enter_botton {
	width:160px;
	height:130px;
	padding: 0.5em 1.2em;
  	margin: -0.5em -1.2em;
    background: #20B2AA; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 40px; /* Уголки */
    border: none;
  	font-size: 100%;
	font-family: Comic Sans MS, sans-serif; 
}

.head_left {
	margin-top: -9px;
	justify-content: flex-start;
}

.head_right {
	justify-content: flex-end;
}

.mel {   
	padding: 5px;
	font-weight: bold;
	font-size: 3em;	 
}

a.linkMenu {	
	padding: 20px;
	font-weight: bold;
	color:#62EDC7;
}

.second_menu_buttoms{
	padding: 5px;
	font-weight: bold;
	color:#4C5250;
	margin-right: 0px;
	margin-left:  0px;
}

.cards_text {
    display: table-cell; 
    text-align: center;
	font-size: 1.3em;
	font-weight: bold;
	color: #000000;
	padding: 12px;
	line-height: 25px;
}

.cards_blogs {
	margin: 45%;
	color: #FE4444;
	font-size: 0.6em;
	font-weight: bold;
}

.cards_info {
	margin: 30%;
    padding: 10px;
    color: #969696;
    font-size: 0.8em;
    line-height: 180px;
    font-weight: bold;
}

#menu_hrefs {
	display: flex;
	flex-direction: row;
	border-radius: 4px;
	margin-right: 2.5%;
	margin-left: 1%; 
	color: black;
}

#menu_hrefs a:hover {
	background-color: #F44747;
}

/* Основные стили для сайта */

#wrapper {
	float: left;
	width: 100%;
	margin-top: 40px;
	margin-bottom: 10px;
}

#wrapper #articles {
	display: grid;
	grid-template-columns: repeat(4, 270px);
    grid-column-gap: 40px;
    grid-row-gap: 5px;
	width: 100%;
	margin-left: 20px;
}

#wrapper #articles article {
	display: block;
	margin-bottom: 20px;
	float: left;
	border: 1px solid silver;
	box-sizing: border-box;
	border-radius: 5px;
	background-color: #fafafa;
	height: 430px;
}

#wrapper #articles article img{
	width: 100%;
	height: 200px;
	border-radius: 5px 5px 0px 0px;
	border-bottom: 1px solid silver;
	margin-bottom: 10px;
}

#wrapper #articles article h2{
	width: 90%;
	margin-left: 5%;
	font-weight: normal;
	font-size: 1.7em;
}

/* стили для футера */

footer{
	padding: 0%;
	margin-top: 10px;
	padding-bottom: 2%;
	width: 100%; 
}

#page_links: after{
	content: "";
	display: block;
}

footer, #page_links:after {height: 700px}
#page_links {
	min-height: 4750px;
	margin-bottom: 0%;
}

.down_botton {
	width:210px;
	height:50px;
    background: #20B2AA; /* Цвет фона */
    color: #fff; /* Цвет текста */
    border-radius: 40px; /* Уголки */
    font-size: 100%;
	font-family: Comic Sans MS, sans-serif; 
	padding: 5px;
}


#e-mail {
	margin: 0;
	padding: 0%;
	margin-top: 40px;
	height: 290px;
	width: 100%;
	background-image: url(https://picsum.photos/5472/3648?image=1083);
}

#e-mail ul {
	position: relative; 
	top: 60px;
}


#footerblock {
	width: 100%; 
	height: 230px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#footerblock_in {
	line-height: 25px;
	text-align: center;
	padding: 0%;
	height: 100px;
	border-radius: 7px;
	width: 500px;
	color: #fff;
}

form input {
	margin-bottom: 15px;
	width: 80%;
	padding: 10px;
	margin-left: 15px;
}

.footer_down {
	display: flex;
	justify-content: center;
	width: 100%; 
	height: 350px;
	background-color: #2E2E2E;
}


.menu_hrefs_footer {
	text-align: center;
	border-radius: 4px;
	margin-right: 2.5%;
	margin-left: 1%;
}


#footerblock_down_in {
	line-height: 100px;
	text-align: center;
	padding: 0%;
	height: 100px;
	margin-left: 13%;
	margin-right: 10%;
	width: 100%;
	color: #fff;
}

a.linkMenu_down {	
	padding: 8px;
	font-weight: bold;
	font-size: 0.9em;
	color:#62EDC7;
}

.second_menu_buttoms_down{
	padding: 3px;
	font-weight: bold;
	color: white;
	font-size: 0.9em;
	margin-right: 0px;
	margin-left:  0px;
}


.links_down_menu {
	margin-top: -35px;
	margin-left: -55px;
	text-align: center;
	padding: 1%;
	height: 100px;
	font-size: 0.88em;
	font-family: "Segoe UI", sans-serif;
	width: 100%;
	color: #808080;
	line-height: 25px;
	opacity: 0.6;
}


.footer_icons{
    margin-top: -30px;
    font-size: 2.1em;
    margin-left: -80px;
}

.footer_icons_networks {     
    font-size: 100%;
    font-family: Comic Sans MS, sans-serif; 
    float: center;
    padding: 15px;
    color: white;
}

.mel_copirait{
    margin-top: -30px;
    font-size: 0.9em;
    margin-left: -40px;
}

.mel_copirait_znak{
    margin-top: -30px;
    font: 14px/24px roboto-regular,Arial,sans-serif;
    display: inline-block;
    color: #fff;
}